.test {
  text-align: center;
}

.feedbackStyle {
  position: relative;
  left: 10%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #427ce0;
  padding: 10px;
}

.toastMain {
  position: "top-right" autoClose=1000 hideProgressBar=false newestOnTop=false
    closeOnClick rtl=false pauseOnFocusLoss draggable pauseOnHover theme= "dark";
}

/* .textleft {
  text-align: left;
} */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

thead th {
  background-color: #006dcc;
  color: white;
}

.zoom {
  transition: transform 0.2s;
}
.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}
body::-webkit-scrollbar {
  display: none;
}
